@import "../library.blocks/breakpoints";
@import "colors";
@import "fonts";

.bordered {
    border: 1px dotted black;
}

.card {
    border-radius: 2.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 14.6rem;
    // overflow: hidden;
    opacity: 0.5;
    position: relative;
    width: 33rem;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        width: 93rem;
    }

    &__img-col {
        background: {
            color: white;
            image: url("../images/bg-pattern-mobile.svg");
            position: center top;
            repeat: no-repeat;
        };

        box-sizing: border-box;
        height: 10.4rem;
        margin: 0 auto 2.6rem;
        position: relative;
        width: 24rem;

        @media screen and (min-width: $desktop) {
            width: 50%;
        }
    }

    &__img {
        bottom: 10.5rem;
        display: block;
        margin: 0 auto 0;
        position: absolute;
        width: 72%;
    }

    &__txt-col {
        box-sizing: border-box;
        padding: 0 2.3rem 3.2rem 2.6rem;
        width: 100%;

        @media screen and (min-width: $desktop) {
            width: 50%;
        }
    }

    &__header {
        @include font(3.2rem, $bold);
        margin: 0 0 3.4rem;
        text-align: center;
    }

    &__question-row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 1.6rem; 
    }

    &__question {
        @include font(1.32rem, $regular);
    }

    &__question--selected {
        font-weight: $bold;
    }

    &__arrow {
        display: block;
        height: 0.7rem;
        width: 1rem;
    }

    &__arrow--selected {
        transform: rotate(180deg);
    }

    &__answer {
        display: none;
    }

    &__answer--selected {
        @include font(1.2rem, $regular);

        display: block;
        line-height: 1.4;
        margin: -0.4rem 1.2rem 1.8rem 0 ;
    }

    &__divider {
        border: {
            bottom-width: 0;
            left-width: 0;
            right-width: 0;
        };

        margin: 0 0 1.75rem;
        width: 100%;
    }
}