html {
    font-size: 62.5%;
  }

.page {
  margin: 0;
}
.card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.attribution {
    text-align: center;
}

.bordered {
  border: 1px dotted black;
}

.card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 33rem;
}
@media screen and (min-width: 992px) {
  .card {
    flex-direction: row;
    width: 93rem;
  }
}
.card__img-col {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .card__img-col {
    width: 50%;
  }
}
.card__txt-col {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .card__txt-col {
    width: 50%;
  }
}
.card__question-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__question-arrow {
  display: block;
}
.card__question-arrow--rotated {
  transform: rotate(180deg);
}
.card__answer--undisplayed {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}