html {
    font-size: 62.5%;
  }

.page {
  margin: 0;
}
.card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.attribution {
    text-align: center;
}

.card-wrapper {
  align-items: start;
  background-image: url("../design/mobile-design.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}
.bordered {
  border: 1px dotted black;
}

.card {
  border-radius: 2.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 14.6rem;
  opacity: 0.5;
  position: relative;
  width: 33rem;
}
@media screen and (min-width: 992px) {
  .card {
    flex-direction: row;
    width: 93rem;
  }
}
.card__img-col {
  background-color: white;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 10.4rem;
  margin: 0 auto 2.6rem;
  position: relative;
  width: 24rem;
}
@media screen and (min-width: 992px) {
  .card__img-col {
    width: 50%;
  }
}
.card__img {
  bottom: 10.5rem;
  display: block;
  margin: 0 auto 0;
  position: absolute;
  width: 72%;
}
.card__txt-col {
  box-sizing: border-box;
  padding: 0 2.3rem 3.2rem 2.6rem;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .card__txt-col {
    width: 50%;
  }
}
.card__header {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0 0 3.4rem;
  text-align: center;
}
.card__question-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1.6rem;
}
.card__question {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.32rem;
  font-weight: 400;
}
.card__question--selected {
  font-weight: 700;
}
.card__arrow {
  display: block;
  height: 0.7rem;
  width: 1rem;
}
.card__arrow--selected {
  transform: rotate(180deg);
}
.card__answer {
  display: none;
}
.card__answer--selected {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  line-height: 1.4;
  margin: -0.4rem 1.2rem 1.8rem 0;
}
.card__divider {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0 0 1.75rem;
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}